<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
    <nav-bar
            [navList]="this.navigationLinks"
            (loginLogout)="auth.logout({ returnTo: document.location.origin })"
            [loggedIn]="true"
    ></nav-bar>
</ng-container>

<ng-template #loggedOut>
    <nav-bar 
            [navList]="this.navigationLinks"
            (loginLogout)="auth.loginWithRedirect()"
            [loggedIn]="false"
    ></nav-bar>
</ng-template>

<router-outlet></router-outlet>